main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border: 10px solid rosybrown;
}

figcaption{
    text-align: center;
    font-size: xx-large;
    background-color: rosybrown;
    padding-bottom: .5em;
}

