
*{
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    padding: 20px;
    text-align: center;
    background-color: #f09997;
    font-size: xxx-large;
   
}
body{
    margin:0;
}
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffe1d9;

}

figure{
    background-color:#f09997;
    margin: 2.5rem;
}
img {
    border: 20px solid #f09997;
}

figcaption{
    text-align: center;
    font-size: xx-large;
    background-color: #f09997;
    padding-bottom: .5em;

}
footer{
    font-size: 1.5rem;

    display:flex;
    justify-content: center;
    padding: 1rem;
    background-color:  #f09997;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

