*{
    margin:0; 
}


html {
    box-sizing:border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;

}
#navbar {
    display:flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    background-color: #f09997;

    }

    .nav-list{
        display:flex;
        margin-right: 2rem;
        list-style-type: none;
      
}


.nav-list a {
    display: block;
    padding: 2rem;
    font-size: xx-large;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.nav-list a:hover{
background-color: #b76f6c
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe1d9;
    height: 100vh;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#projects {
    color: black;
    font-size: 2rem;
    text-align: center;
    background-color: #ec4442;
    padding: 4rem;
    
    
   
}
.projects-grid {
    padding: 4.5rem 0;
    display: flex;
    background-color:#ec4442;
    flex-wrap: wrap;
    justify-content: center;
    
}

.project-tile {
    margin: 1rem;

}

figcaption {
    text-align: center;
    font-size: x-large;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
button{

padding: 15px 120px;
right: 200px;
top: 35px;
background-color: #f09997;
font-size: 20px;

}
button:hover{
    background-color: #b76f6c;
}


#contact {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    height: 20rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffe1d9;
}

#contact h1{
    text-align: center;
    font-size: 2rem;
    padding: 3rem 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
}
#contact p{
    text-align: center; 
    font-size: xx-large;
    padding-bottom: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#contact div {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    background-color: #ffe1d9;

}
#contact div a {
    margin: 0 2rem;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #c4c4c4;
    transition: transform 0.3s ease-out;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#contact div a:hover {
    transform: translateY(8px);
}
footer{
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    padding: 1rem;
    background-color:  #f09997;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 1200px) {
    html {
      font-size: 60%;
      color:rgb(240, 47, 111);
    }
  }
  @media (max-width: 900px) {
    html {
      font-size: 58%;
    }
  }