* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Pokemon Solid", sans-serif;
}

body {
  background-color: #ffcb05;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  margin: 12px 0;
}
.pokeBalls {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
}

.pokeBallContainer button {
  cursor: pointer;
}
.pokeBallContainer:hover {
  color: #000000;
  transform: translateY(8px);
  transition: all 0.5s;
}

.pokeBallContainer {
  margin: 3rem 3rem;
}

.loadPokemon {
  background-image: url("../images/pokeBall.png");
  background-color: #ffcb05;
  border-style: none;
  padding: 40px;
  height: 80px;
  line-height: 80px;
  width: 80px;
  border-radius: 50%;
}

.newPokemon {
  background-image: url("../images/pokeBall.png");
  background-color: #ffcb05;
  border-style: none;
  padding: 40px;
  height: 80px;
  line-height: 80px;
  width: 80px;
  border-radius: 50%;
}

.morePokemon {
  background-image: url("../images/pokeBall.png");
  background-color: #ffcb05;
  border-style: none;
  padding: 40px;
  height: 80px;
  line-height: 80px;
  width: 80px;
  border-radius: 50%;
}

.pokeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.scene {
  width: 200px;
  height: 260px;
  perspective: 600px;
  margin: 0.5rem;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.cardFace {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

div.cardFace.back h4 {
  margin: 10px;
  font-family: monospace;
}

div.cardFace.back ul li {
  margin: 10px;
  font-family: monospace;
}

.front {
  background-image: url("../images/pokemonColor.jpeg");
}

.back {
  background: #3c5aa6;
  color: white;
  transform: rotateY(180deg);
}
.back img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 135px;
}
figure img {
  width: 200px;
}

h4:first-letter {
  text-transform: uppercase;
}
