*{
margin: 0;
box-sizing: border-box;

}

header{
    display:flex;
    justify-content: space-around;
    background-color: #f09997;
   /* margin: 2em 0;*/
   padding: 2em 0;
}


button{
background-color: #f09997;
border:none;
font-size: 20px;
font-size: x-large;
padding: 30px;

}
button:hover{
    background-color: #b76f6c;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
figure{
    margin: 4px;
}

figure img{
    width: 200px;
}

figcaption{
    text-align: center;
}

  
    footer{
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    padding: 1rem;
    background-color:  #f09997;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 0;
    width: 100%;

}

