* {
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
  font-size: xxx-large;
  background-color: #f09997;
}
header {
  display: flex;
  justify-content: space-around;
  background-color: #f09997;
  /* margin: 2em 0;*/
  padding: 0.7rem 0;
}

body {
  background-color: #ffe1d9;
}

button {
  padding: 15px;
  border: 0.2em solid #b76f6c;
  margin: 1rem;

  border-radius: 0.6rem;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #000000;
  background-color: #f09997;
  transition: all 0.5s;
}

button:hover {
  color: #000000;
  background-color: white;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffe1d9;
  margin-top:20px;
  margin-bottom: 80px;

}

figure {
  margin: 4px;
  border: #f09997 solid;
  border-width: 10px;
  background-color: #f09997;
}

figure img {
  width: 200px;
}

figcaption {
  text-align: center;
  background-color: #f09997;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  background-color: #f09997;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  
