*{
    margin:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  justify-content: space-between;
  align-items: center;
  background-color: #ffe1d9;
}
h1{
    text-align: center;
    font-size: xxx-large;
    background-color: #f09997;
    padding: 1rem;
}

body{
    background-color: #ffe1d9;
    margin-bottom: 5rem;
    
}


#button{
    display: flex;
    justify-content: center;
    align-items: center;
}

button {

    padding: 15px;
    border: 0.2em solid #b76f6c;
    margin: 1rem;
   
    border-radius: .60rem;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:#000000;
    background-color: #f09997;
    transition: all 0.5s;
    }

    button:hover{
        color: #000000;
        background-color: white;
    }

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

figure {
width:160px;
display:flex;
flex-direction: column;
margin: 1rem;
margin-top: 3.5rem;
border: .5rem solid #f09997;

}
figure img{
    padding: .2em;
    background-color: #f09997;
}

figcaption{
    text-align: center;
    background-color: #f09997;
   padding: .2em;

}

.seniority{
    text-align: center;
    padding: .2em;
    background-color: #f09997;

}
.mostLoyal{
    position:absolute;
    top:0;
    font-size: x-large;
    margin:175px;
    
}
 /* im right in the middle of trying to center my most loyal text content.*/
footer {
    display:flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    background-color:  #f09997;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;

}